@import '~antd/dist/antd.css';

body{
  background-color: #1F222A;
}
#barcodeForm{
  padding: 15%;
}
#header h1{ 
  text-align: center;
  color:white;
  font-size: 50px;
}
#barcodeImg{
  text-align: center;
}
ul{
  list-style: none;
  
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

input[type=submit]:hover {
  background-color: #45a049;
}
img{
  width: 150px;
  height: 100px;
}
#ingredientList ul li{
  color: white;
  font-size: 20px;
}
